<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>

</head>
<body class="container">

<header>
    <% include partials/header.ejs %>

</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is the page where you will enter your demographic information</h1>
            <p>Welcome to your landing page</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>
<a href="/recommendations" button type="submit" class="btn btn-success" onclick='a'>Submit your information</button>

</main>

<footer>
</footer>

</body>
</html>

