<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header.ejs %>
        <style>

            /* Style the body */
            body {
            font-family: Arial;
            margin: 0;
            }

            /* Header/logo Title */
            .header {
            padding: 60px;
            text-align: center;
            background: white;
            color: black;
            }
            

            /* Column container */
            .flex-container {  
            display: flex;
            flex-wrap: wrap;
            }

            /* Create two unequal columns that sits next to each other */
            /* Sidebar/left column */
            .side {
            flex: 30%;
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            }

            /* Main column */
            .main {
            flex: 70%;
            background-color: skyblue;
            padding: 20px 20% 20px 20%;
            }

            /* Style inputs with type="text", select elements and textareas */
            input[type=text], select, textarea {
                width: 100%; /* Full width */
                padding: 12px; /* Some padding */ 
                border: 1px solid #ccc; /* Gray border */
                border-radius: 4px; /* Rounded borders */
                box-sizing: border-box; /* Make sure that padding and width stays in place */
                margin-top: 6px; /* Add a top margin */
                margin-bottom: 16px; /* Bottom margin */
                resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
            }

            /* submit button */
            .btn-holder{
                text-align: center;
            }
            
            /* Footer */
            .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            font-size: 8px;
            }

            /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
            @media screen and (max-width: 700px) {
                .row, .navbar {   
                    flex-direction: column;
                }
            }


        </style>
    </head>
    <body >

        <header>
            <% include partials/header.ejs %>
        </header>

        <main>
            <!-- Header -->
            <div class="header">
                <h1>Isolation Recommendations</h1>
            </div>
            
            <!-- The flexible grid (content) -->
            <div class="flex-container">
                <div class="side">
                    <h2>Get Personalised Recommendations</h2>
                </div>
                <div class="main">
                    <form action="/recommendations">
                        <div class="row">
                            <div class="col-25">
                            <label for="name">Full Name</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="name" name="name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label for="email">Email</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label for="age">Age</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="age" name="age" placeholder="Age">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label for="gender">Gender</label>
                            </div>
                            <div class="col-75">
                                <select id="gender" name="gender">
                                    <option>Female</option>
                                    <option>Male</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label for="recommendationtype">What type of recommendation?</label>
                            </div>
                            <div class="col-75">
                                <input type="checkbox" id="movie" name="movie" value="movie">
                                <label for="movie">Movie</label><br>
                                <input type="checkbox" id="tv" name="tv" value="tv">
                                <label for="tv">TV Show</label><br>
                                <input type="checkbox" id="album" name="album" value="album">
                                <label for="album">Album</label><br>
                                <input type="checkbox" id="book" name="book" value="book">
                                <label for="book">Books</label><br>
                                <input type="checkbox" id="podcast" name="podcast" value="podcast">
                                <label for="podcast">Podcast</label>
                            </div>
                        </div>
                        <div class="btn-holder">
                            <input type="submit" class="btn btn-success" value="Submit">
                        </div>
                    </form>
                </div>
            </div>  
        
        <!-- Footer -->
            <div class="footer">
                <h2>A K&B Production</h2>
            </div>
        </main>

        <footer>
        </footer>
    </body>
</html>

