<!DOCTYPE html>
<html lang="en">
<head>
    <title>FlexBox Template - 1 column liquid and 2 halves, left extra stuff</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <meta name="description" content="Use this HTML basic website one column liquid and two halves layout template where the main content is on the upper part of the column, the extra stuff on the left and the navigation menu on the right sides of the lower part.">
    <meta name="generator" content="HAPedit 3.1">
    <link rel="canonical" href="https://www.w3docs.com/snippets/html/layout_templates/28.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HTML FlexBox Template - One column liquid and two halves, left extra stuff" />
    <meta property="og:description" content="Use this HTML basic website one column liquid and two halves layout template where the main content is on the upper part of the column, the extra stuff on the left and the navigation menu on the right sides of the lower part." />
    <meta property="og:image" content="https://www.w3docs.com/build/images/logo-amp.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:image:alt" content="W3dcos" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #a3f2f9;
            color: #292929;
            font: 90%  Literata, sans-serif;
            font-weight: 300;
        }

        .tab {
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .tab button {
            font: 20px Literata; 
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 30px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #9e9e9e;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }


        p {
            padding: 0 10px;
            line-height: 1.8;
        }

        ul li {
            padding-right: 10px;
            line-height: 1.6;
        }

        h3 {
            padding: 5px 40px;
            margin: 0;
            font: Literata;
        }

        div#header {
            position: relative;
        }
        * { box-sizing: border-box; }
        body {
            font: 16px Arial; 
        }
        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }
        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }
        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }
        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff; 
            border-bottom: 1px solid #d4d4d4; 
        }
        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9; 
        }
        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important; 
            color: #ffffff; 
        }

        div#header h1 {
            height: 80px;
            line-height: 80px;
            margin: 0;
            padding-left: 10px;
            background: #f1f1f1;
            color: #292929;
        }

        div#header a {
            position: absolute;
            right: 0;
            top: 23px;
            padding: 10px;
            color: #006;
        }

        div#navigation {
            background: #7cb71c;
        }

        div#navigation li {
            list-style: none;
        }

        div#extra {
            background: #147FA9;
        }

        div#footer {
            background: #42444e;
            color: #fff;
        }

        div#footer p {
            padding: 20px 10px;
        }

        div#navigation {
            float: right;
            width: 50%;
        }

        div#extra {
            float: right;
            width: 49.9%;;
        }

        div#footer {
            clear: right;
            width: 100%;
        }
        form {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="header">
        <h1>
            <font face="Literata" text-align: left color=black>Isolation Recommendations</font>
        </h1>
    </div>
    Try it Yourself »
        <div id="wrapper">
            <div class="tab">               
                    <script>
                    </script>
                           
                    <button class="tablinks" onclick="openCity(event, 'Movies')">Movies</button>
                    <button class="tablinks" onclick="openCity(event, 'TV Shows')">TV Shows</button>
                    <button class="tablinks" onclick="openCity(event, 'Albums')">Albums</button>
                    <button class="tablinks" onclick="openCity(event, 'Books')">Books</button>
                    <button class="tablinks" onclick="openCity(event, 'Podcasts')">Podcasts</button>
            </div>
                  
                  <!-- Tab content -->
                <div id="Movies" class="tabcontent">
                <h3 style="text-align:center">Enter your favourite Movies</h3>
                <form autocomplete="on" action="/action_page.php":>
                    <div class="autocomplete" style="width:300px;">
                      <input id="movies1" type="text" name="myCountry" placeholder="Enter a Movie Here">
                    </div>
                    <input type="submit">
                </form>
                <form autocomplete="on" action="/action_page.php">
                    <div class="autocomplete" style="width:300px;">
                      <input id="movies2" type="text" name="myCountry" placeholder="Enter a Movie Here">
                    </div>
                    <input type="submit">
                </form>
                <form autocomplete="on" action="/action_page.php">
                    <div class="autocomplete" style="width:300px;">
                      <input id="movies3" type="text" name="myCountry" placeholder="Enter a Movie Here">
                    </div>
                    <input type="submit">
                </form>
                </div>
                  
                <div id="TV Shows" class="tabcontent">
                    <h3 style="text-align:center">Enter your favourite TV Shows</h3>
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="tv1" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                        </div>
                        <input type="submit">
                    </form>
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="tv2" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                        </div>
                        <input type="submit">
                    </form>
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="tv3" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                        </div>
                        <input type="submit">
                    </form>
                </div>  

                <div id="Albums" class="tabcontent">
                        <h3 style="text-align:center">Enter your favourite Albums</h3>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="albums1" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                            </div>
                            <input type="submit">
                        </form>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="albums2" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                            </div>
                            <input type="submit">
                        </form>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="albums3" type="text" name="myCountry" placeholder="Enter a TV Show Here">
                            </div>
                            <input type="submit">
                        </form>
                </div>  

                <div id="Books" class="tabcontent">
                        <h3 style="text-align:center">Enter your favourite Books</h3>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="books1" type="text" name="myCountry" placeholder="Enter a Book Show Here">
                            </div>
                            <input type="submit">
                        </form>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="books2" type="text" name="myCountry" placeholder="Enter a Book Show Here">
                            </div>
                            <input type="submit">
                        </form>
                        <form autocomplete="on" action="/action_page.php">
                            <div class="autocomplete" style="width:300px;">
                              <input id="books3" type="text" name="myCountry" placeholder="Enter a Book Show Here">
                            </div>
                            <input type="submit">
                        </form>
                </div>  

                <div id="Podcasts" class="tabcontent">
                    <h3 style="text-align:center">Enter your favourite Podcast</h3>       
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="podcasts1" type="text" name="myCountry" placeholder="Enter a Podcast Here">
                        </div>
                        <input type="submit">
                    </form>
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="podcasts2" type="text" name="myCountry" placeholder="Enter a Podcast Here">
                        </div>
                        <input type="submit">
                    </form>
                    <form autocomplete="on" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                          <input id="podcasts3" type="text" name="myCountry" placeholder="Enter a Podcast Here">
                        </div>
                        <input type="submit">
                    </form>
            </div>
                        
    </div>
     <!--- 
    <div id="navigation">
        <p><strong>2. Navigation Menu</strong></p>
        <h3>Styling Flex Container</h3>
        <ul>
            <li>flex-direction</li>
            <li>flex-wrap</li>
            <li>justify-content</li>
            <li>align-content</li>
            <li>align-items</li>
        </ul>
        <h3>Designing Flex Items </h3>
        <ul>
            <li>order</li>
            <li>align-self</li>
            <li>flex-grow</li>
            <li>flex-shrink</li>
            <li>flex-basis</li>
        </ul>
    </div>
   ><div id="extra">
        <p><strong>Movies</strong></p>
        <h3>In this guide you will learn:</h3>
        <ul>
        </ul>
    </div>
-->
    </div>
</div>
<script type="text/javascript">AddFillerLink("content", "navigation", "extra")</script>
</body>
</html>


<script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina",
        "Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium",
        "Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands",
        "Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic",
        "Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic",
        "Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands",
        "Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada",
        "Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man",
        "Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein",
        "Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco",
        "Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria",
        "North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania",
        "Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia",
        "Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden",
        "Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos",
        "Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam",
        "Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];

        function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
        }
        autocomplete(document.getElementById("movies1"), countries);
        autocomplete(document.getElementById("movies2"), countries);
        autocomplete(document.getElementById("movies3"), countries);
        autocomplete(document.getElementById("tv1"), countries);
        autocomplete(document.getElementById("tv2"), countries);
        autocomplete(document.getElementById("tv3"), countries);
        autocomplete(document.getElementById("albums1"), countries);
        autocomplete(document.getElementById("albums2"), countries);
        autocomplete(document.getElementById("albums3"), countries);
        autocomplete(document.getElementById("books1"), countries);
        autocomplete(document.getElementById("books2"), countries);
        autocomplete(document.getElementById("books3"), countries);
        autocomplete(document.getElementById("podcasts1"), countries);
        autocomplete(document.getElementById("podcasts2"), countries);
        autocomplete(document.getElementById("podcasts3"), countries);

    </script>                  



<!--
<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/header.ejs %>
        <title>Recommendations</title>
</head>
<body class="container">

<header>
        <% include partials/header.ejs %>

</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is the page where you will enter your recommendations</h1>
            <p>Welcome to your recommendations page</p>

        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>

<form action="getform.php" method="get">
    <input name="Movies" placeholder="Enter a favourite movie" />
    <input type="submit" value="Submit" />
</form>
<form action="getform.php" method="get">
    <input name="Movies" placeholder="Enter a favourite movie" />
    <input type="submit" value="Submit" />
</form>
<form action="getform.php" method="get">
    <input name="Movies" placeholder="Enter a favourite movie" />
    <input type="submit" value="Submit" />
</form>

<a href="/results" button type="submit" class="btn btn-success" onclick='register.ejs'>Submit your favourite movies</button>

</main>

<footer>
</footer>

</body>
</html>

-->